{% extends 'drive/base.html' %}
{% load static %}

{% block title %}Sign in | Shrive{% endblock %}

{% block header %}{% endblock %}

{% block auth_content %}
  <div class="auth-wrapper">
    <form method="post" class="auth-form-card">
      {% csrf_token %}
      <div class="auth-box shadow-lg">
        <a href="{% url 'drive:login' %}" class="auth-logo mb-4">
          <!-- <img src="{% static 'assets/images/logo-dark.svg' %}" alt="Shrive"> -->
        </a>
        <h4 class="mb-3">Sign in</h4>
        <!-- <p class="text-body-secondary mb-4">Access your files, shared folders, and read only libraries.</p> -->
        {{ form.non_field_errors }}
        <div class="mb-3">
          <label class="form-label" for="id_username">Username</label>
          {{ form.username }}
        </div>
        <div class="mb-4">
          <label class="form-label" for="id_password">Password</label>
          {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </div>
    </form>
  </div>
{% endblock %}
